// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	background-color: #222;
}

.navbar-brand{
	font-family: Barlow Condensed;
	font-size: xx-large;
}

.navbar-nav li{
	padding-left: 25px;
}

#large-screen{
	height: 450px;
}

#middle-screen{
	height:400px;
}

.carousel-inner img{
	height: 100%;
}

#large-screen img{
	transform: translateY(-40%);
}

.carousel-caption{
	transform: translateY(-90%);
	position: absolute;
	top: 50%;
	text-shadow: 1px 1px 10px black;
}

@media (max-width: 576px){
	.carousel-inner img{
		width: 100%;
	}
	#large-screen img{
		transform: translateX(20%);
	}
	.carousel-caption h3{
		font-size: 2.5em;
	}
	#timer-header .display-3{
		font-size: 2.5em;
	}
}

@media (max-width: 400px){
	.carousel-caption h3{
		font-size: 1.8em;
	}
	#timer-header .display-3{
		font-size: 1.8em;
	}
	#conditions-head{
		font-size: 1.8em;
	}
}

@media (max-width: 320px){
	.carousel-caption h3{
		font-size: 1.4em;
	}
	#timer-header .display-3{
		font-size: 1.8em;
	}
}

@media (max-width: 290px){
	.carousel-caption{
		transform: translateY(-135%);
	}
}

.carousel-caption .tagline{
	color: #cd0000;
	font-weight: bolder;
}

#timer .time{
	font-weight: 100;
	font-size: 100px;
	font-family: 'Titillium Web', cursive;
}

@media(max-width: 576px){
	#timer .time{
		font-size: 50px;
	}
	#timer .time-label{
		font-size: 10px;
	}
}

#days{
	color: #db4844;
}

#hours{
	color: #f07c22;
}

#minutes{
	color: #f6da74;
}

#seconds{
	color: #abcd58;
}

.bg-222{
	background: #222;
}

